.content {
  height: 65px;
  border-bottom: 1px solid #dadada;
}

.loading .image,
.loading h4,
.loading .content div {
  background-color: #ededed;
  background: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 60%
    )
    #ededed;
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

.loading .content div {
  height: 55px;
  margin: 10px 10px;
  border-radius: 4px;
  animation-delay: 0.06s;
}
