.App {
  margin: 0;
  position: absolute;
  margin: 0 680px;
  padding: 50px 0;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
input,
button {
  padding: 0;
  outline: none;
  border: none;
}
@media (max-width: 1700px) {
  .App {
    margin: 0 25%;
  }
}
@media (max-width: 950px) {
  .App {

    padding: 0 15px;
    margin: 0;
  }
}
